body {
  color: #fff;
  background: hsl(227, 10%, 10%);
  font: 400 1em 'Roboto', sans-serif;

  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
h1 {
  font-size: 4em;
  margin: 1em 0 0.5em;
}
h2 {
  font-size: 2em;
  margin: 1em 0 1em;
}
h3 {
  font-size: 1.5em;
  margin: 1em 0 1em;
}
input {
  color: #ED796F;
  transition: 0.25s;
  background: none;
  border: none;
  border-bottom: 2px solid #ef6eae;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  border-radius: 0;
}
input:focus,
input:active,
input:hover {
  background: #ef6eae15;
  box-shadow: 0 0 0.8em 0.8em rgba(239,110,174,0.1);
}
button {
  color: #ef6eae;
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  border-radius: 0;
}


#message {
  position: absolute;
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  padding: 50% 0;
  text-align: center;
  font-size: 4vw;
  z-index: 1;
}
#message #dismiss {
  margin: 5vw 0;
}


#main-page #game-settings {
  font-weight: 500;
  font-size: 1.5em;
  margin-bottom: 2em;
}
#main-page #game-settings > div:first-child {
  margin-left: 10vw;
  margin-bottom: 1em;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  width: 80vw;
}
#main-page #game-settings span {
  display: inline-block;
  width: 30vw;
  text-align: center;
}
#main-page #game-settings input {
  width: 30vw;
  text-align: center;
}
#main-page #start {
  font-size: 2em;
}


#header {
  position: relative;
  overflow: hidden;
  padding: 0 2vw;
  margin: 0 0 5vw;
}
#header h2 {
  text-align: left;
}
#header .buttons {
  position: absolute;
  top: 1em;
  right: 2vw;
}
#header .buttons button {
  margin-right: 0;
  margin-left: 1em;
}


#players {
  padding: 0 2vw;
  margin: 0 0 10vw;
  font-size: 1.5em;
  text-align: left;
}
#players .player.turn {
  color: #ef6eae;
}
#players .player > * {
  vertical-align: middle;
}
#players .player .name {
  display: inline-block;
  width: 20vw;
}
#players .player .score {
  display: inline-block;
  width: 4vw;
}
#players .player .name::after {
  content: ":";
}
#players .player .turn-score {
  display: none;
}
#players .player.turn .turn-score {
  display: inline-block;
}
#players .player .turn-score-summary {
  display: none;
}
#players .player .turn-score-summary::before {
  content: " = ";
}
#players .player.turn .turn-score-summary {
  display: inline-block;
  margin: 0 1vw;
}
#players .player .turn-score button {
  font-size: 2vw;
  font-weight: 400;
  margin: 0 0 0.3vw 0.3vw;
  padding: 1vw 0.5vw;
  width: 9vw;
  margin: 0 0 0 3vw;
  border: 1px solid rgba(239, 110, 174, 0.5);
}
#players .player .turn-score button::before {
  content: "-";
  display: block;
  position: absolute;
  margin-left: -2.2vw;
  font-weight: 700;
}
#players .player .turn-score-submit {
  display: none;
  font-size: 1.8vw;
}
#players .player.turn .turn-score-submit {
  display: inline-block;
}


#score-options {
  width: 100vw;
  columns: 3;
  font-size: 0;
}
#score-options .score-option {
  width: 33vw;
}
#score-options button {
  font-size: 2vw;
  font-weight: 400;
  margin: 0 0 0.3vw 0.3vw;
  padding: 3vw 1.8vw;
  width: 10vw;
  border: 1px solid rgba(239, 110, 174, 0.5);
}
#score-options button:nth-child(2) {
  color: #f03090;
}
#score-options button:nth-child(3) {
  color: #f00c7e;
}
